body {
  background-color: #252525;
  margin-left: 80px;
  font-family: "Electrolize", sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

#nav {
  position: fixed;
  left: 0;
  top: 35%;
}
#nav a {
  text-decoration: none;
}
#nav .fa-solid {
  color: white;
  font-size: 16px;
  text-align: center;
}
#nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}
#nav ul li {
  position: relative;
  width: 45px;
  cursor: pointer;
  background: #252525;
  transition: all 0.4s ease-out;
  border: solid 0.5px rgb(72, 71, 71);
}
#nav ul li:after {
  font-family: "Play", sans-serif;
  position: absolute;
  background: #F9D422;
  color: #252525;
  font-weight: bold;
  top: 0;
  left: 45px;
  width: 45px;
  height: 100%;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: 0 100%;
  transition: all 0.4s ease-out;
}
#nav ul li:nth-child(1):after {
  content: "tags";
  font-size: 12px;
  line-height: 70px;
}
#nav ul li:nth-child(2):after {
  content: "notes";
  font-size: 12px;
  line-height: 70px;
}
#nav ul li:nth-child(3):after {
  content: "links";
  font-size: 12px;
  line-height: 70px;
}
#nav ul li:hover {
  transform: translateX(-45px);
}
#nav ul li:hover:after {
  transform: perspective(400px) rotateY(0deg) scale(1);
}
#nav ul li > div {
  display: inline-block;
  padding: 25px 0;
}
#nav ul li div {
  position: relative;
}

#tagNav {
  border-radius: 6px;
}

.tagNavArea {
  font-size: 14px;
  font-weight: bold;
  background-color: #F9D422;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 4px 4px;
  cursor: pointer;
}

.tagType:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.tagType:hover {
  background-color: rgb(255, 255, 255);
}

.fade {
  list-style: none;
  display: none !important;
  opacity: 0;
  visibility: hidden !important;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

#tagTableMain {
  color: white;
  width: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.tagTableSub {
  margin: 0 12px;
  font-weight: bold;
  font-size: 14px;
}

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  visibility: hidden;
  font-size: 12px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  color: #252525;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.tooltip:hover:before {
  visibility: visible;
}

.tagSemiFinal {
  color: red;
}

.selectTop {
  cursor: copy;
  background-color: #fff;
  color: #252525;
  border-radius: 6px;
  padding: 4px 4px;
}
.selectTop:hover {
  background-color: #252525;
}

.selectFinal {
  font-weight: normal;
  margin: 16px 0 16px 16px;
}
.selectFinal:hover {
  color: #252525;
  background-color: #252525;
  cursor: copy;
}

.tagFinal {
  font-weight: normal;
}

.tagHover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hoverBox {
  width: 150px;
  height: 40px;
  background-color: #252525;
  border: 2px solid #F9D422;
}

.favoriteTags {
  padding: 4px;
}
.favoriteTags .iconNumber {
  font-family: "Electrolize", sans-serif;
  font-size: 16px;
  color: #fff;
  border: 2px solid #F9D422;
  border-radius: 2px;
  padding: 4px 4px;
  transition: 0.5s;
  margin: 5px 0;
  width: 16px;
  text-align: center;
}
.favoriteTags .iconNumber:hover {
  color: #252525;
  background-color: #F9D422;
  cursor: pointer;
  transition: 0.5s;
}
.favoriteTags .iconNumber:active {
  transform: translateY(4px);
  transition: 0.4s ease-out;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=ext.css.map */