html {
  min-width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body {
  background-color: #252525;
  font-family: "Electrolize", sans-serif;
  margin-left: 12px;
}
body p {
  font-family: "Play", sans-serif;
}

textarea {
  font-family: "Play", sans-serif;
  font-size: 12px;
  background: none;
  color: white;
  padding: 2px;
  height: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #F9D422;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(249, 213, 34, 0.8784313725);
}

#logo {
  position: fixed;
  bottom: -5%;
  left: 90px;
  transform: scale(0.2);
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

#tagNav {
  border-radius: 6px;
  overflow: hidden;
}

.tagNavArea {
  color: white;
  border-bottom: 2px solid #F9D422;
  transition: 1s;
  padding: 4px 4px;
  transform: translate3d(0, 0, 0);
  width: 50%;
  cursor: pointer;
}
.tagNavArea:hover {
  background-color: #F9D422;
  color: #252525;
  transition: 1s;
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 4px;
}

.tagType:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.tagType:hover {
  background-color: rgb(255, 255, 255);
}

.fade {
  list-style: none;
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-animation: fade;
          animation: fade;
}

.dnone {
  display: none;
}

#serviceTableMain {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.tagTableSub {
  margin: 0 12px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  width: 100%;
}

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  visibility: hidden;
  font-size: 12px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  color: #252525;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.tooltip:hover:before {
  visibility: visible;
}

.tagSemiFinal {
  color: red;
}

.selectTop {
  cursor: pointer;
  background-color: #fff;
  color: #252525;
  border-radius: 6px;
  padding: 4px 4px;
  width: 45%;
}
.selectTop:hover {
  background-color: #252525;
}

.selectFinal {
  font-weight: normal;
  margin: 16px 0 16px 16px;
}
.selectFinal:hover {
  color: #252525;
  background-color: #252525;
  cursor: pointer;
}

.tagFinal {
  font-weight: normal;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}
#bbutton {
  background: none;
  font-family: "Play", sans-serif;
  border: 2px solid #F9D422;
  color: white;
  transition: 0.5s;
  border-radius: 2px;
}
#bbutton:hover {
  background-color: #F9D422;
  color: #252525;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 2px;
}
#bbutton:active {
  transform: translateY(2px);
}

.queriesTitle h1 {
  margin-bottom: 0;
}
.queriesTitle p {
  margin-top: 0;
  color: #F9D422;
  font-size: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
}

.warRoomQuery {
  height: 40px;
  position: relative;
}
.warRoomQuery textarea {
  position: absolute;
  bottom: 0;
}
.warRoomQuery #warRoom {
  cursor: pointer;
  background: url(images/sWave.png) no-repeat center;
  background-size: contain;
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 0;
  left: 40vw;
}
.warRoomQuery #warRoom:hover {
  background: url(images/sWaveHover.png) no-repeat center;
  background-size: contain;
  transition: 1s;
}
.warRoomQuery #warRoomAfter {
  cursor: pointer;
  display: none;
  transform: scale(0.55);
  position: absolute;
  left: 50vw;
}

#save {
  font-family: "Play", sans-serif;
  text-align: center;
  margin: auto;
  background: none;
  border: 2px solid #F9D422;
  color: white;
  border-radius: 2px;
  width: 20vw;
  margin-top: 20px;
}
#save:hover {
  background-color: #F9D422;
  color: #252525;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
#save:active {
  transform: translateY(4px);
  transition: 0.5s ease-out;
}
#save p {
  margin: 0;
}/*# sourceMappingURL=ext.css.map */